.vscode

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
**/target/
!**/target/.keep

dist
dist-ssr
build
out
*.local

src-tauri/gen/

src-tauri/target/

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.env
.env.local
.env.*.local

*.tmp
*.temp
*.cache
*.pid
*.seed
*.pid.lock

coverage
.nyc_output
*.tsbuildinfo

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

package-lock.json